

.card {
  background: #fff;

  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
}

.hover-effect {
  width: 100%;
  height: 0%;
  border-radius: 0 0 80px 80px;
  background: #fff;
  position: absolute;
  transition: all 0.4s ease;  
}

.card:hover .hover-effect {
  background: #63c9eb;
  height: 75%;
}

.card:hover .price {
  color: #fff;
}

.type {
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff;
  background: #63c9eb;
  padding: 10px 30px;
  border-radius: 0 0 20px 20px;
  z-index: 2;
}
  
 .price {
  font-weight: 700;
  color: #63c9eb;
  position: relative;
  z-index: 2;  
  transition: all 0.4 ease;
}

.price-currency {
  font-size: 1.2rem;
  position: absolute;
  top: 25px;
  left: -8px;
  pointer-events: none;
  z-index: 2;  
}

.price-value {
  pointer-events: none;
  z-index: 2;  
  font-size: 4rem;
}

.per-month {
  pointer-events: none;
  z-index: 2;  
  font-size: 1.5rem;
}

.chars {
  list-style: none;
  pointer-events: none;
  z-index: 2;  
  text-align: center;
}

.chars li {
  pointer-events: none;
  z-index: 2;  
  margin-bottom: 10px;
}

.num {
  pointer-events: none;
  z-index: 2;  
  font-weight: 700;
}

.order-btn {
  letter-spacing: 1px;
  z-index: 2;  
  font-weight: 700;
  color: #63c9eb;
  border: 3px solid #63c9eb;
  background: #fff;
  border-radius: 5px;
  width: 160px;
  height: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.order-btn:hover {
  background: #63c9eb;
  color: #fff;
}